[submodule "backend"]
	path = backend
	url = https://github.com/thiagovasconcellos/goBarberBackEnd.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/thiagovasconcellos/goBarberFrontEnd.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/thiagovasconcellos/goBarberMobile.git
